<section class="block contain">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          veritatis dignissimos reprehenderit illo! Aspernatur, inventore.
        </p>
        <a href="#" class="Link-arrow">learn more</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="/images/Easy.webp 1x, /images/Easy@2x.webp 2x" />
        <source
          type="image/png"
          srcset="/images/Easy.png 1x, /images/Easy@2x.png 2x" />
        <img class="feature__image" src="/images/Easy.png" alt=""
      /></picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          veritatis dignissimos reprehenderit illo! Aspernatur, inventore.
        </p>
        <a href="#" class="Link-arrow">learn more</a>
      </div class="feature__content">
      <picture>
        <source
          type="image/webp"
          srcset="/images/fast.webp 1x, /images/fast@2x.webp 2x" />
        <source
          type="image/png"
          srcset="/images/fast.png 1x, /images/fast@2x.png 2x" />
        <img class="feature__image" src="/images/fast.png" alt=""
      /></picture>
    </article>
  </section>